/* styles/signin.module.css */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent; /* Light gray background */
    margin-top: 250px;

}

.form {
    display: flex;
    margin-bottom: 60px;
    flex-direction: column;
    padding: 30px;
    border: 3px solid #0b4d0b; /* Light grey border */
    border-radius: 10px;
    background-color:#e8e8e6;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow */
}

.input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button {
    padding: 10px;
    background-color: #023d02; /* Bootstrap blue */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: -5px;
}
