.navContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 10px 0;
}

.logoSection {
    width: 100px;
    display: flex;
    justify-content: center;
    background-color: #333;
    margin: 10px;
    border-radius: 25px;
    padding: 10px 20px;
}

.navigation {
    display: flex;
    justify-content: center;
    background-color: #333;

    margin: 0 10px;
    border-radius: 25px;
    padding: 10px 20px;
}


.loginSection {
    width: 100px;
    display: flex;
    justify-content: center;
    background-color: #333;
    margin: 0 10px;

    border-radius: 25px;
    padding: 10px 20px;
}

.link {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.link:hover {
    color: #ccc;
   
}


.navigation a {
    margin-right: 20px;
    
    padding-inline: 35px;
   
}


.navigation a:last-child {
    margin-right: 0;
} 
